/*header related styles*/
.header{
 background-color: #e55473.10%;
 
 
}

.banner{
    
    background: rgba(300, 100, 115, 0.10);
    background-color: #e55473.10%;
    padding: 30px 30px 10px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.banner-content{
    max-width: 500px;

}

.btn-primary{
    display:inline-flex;
   
    align-items: flex-start;
    gap: 10px;   
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;

}

.banner-greeting{
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 20px;
margin-bottom: 0px;
}

.banner-description{
    display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 20px;
margin-top:30px;
margin-bottom: 40px;

}

.banner .profile{
    width: 500px;


}


/*main section*/

.feature{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top:150px;
margin-bottom: 40px;

}

.feature-description{
text-align: center;

color: rgba(48, 2, 55, 0.505);

font-family: Lato;
font-size: 25px;
font-style:oblique;
font-weight: 400;
line-height: 30px;


}

.flower-section{
    display:flex;
    background-color:white;
    align-items: center;
    width: 850px;
height: 520px;
padding: 240px;


}

.pink-background{
    width: 300px;
height: 300px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 20px;
margin-top: 0px;
gap: 20px;


}

.profile-1{
    width: 150px;
height: 250px;
flex-shrink: 0;
align-items: center;
padding: 30px 30px 0px 50px;
}

.green-background{
    width: 300px;
height: 300px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(94, 244, 189, 0.15);
padding: 20px;
gap: 20px;
}

.profile-2{
    width: 150px;
    height: 250px;
    flex-shrink: 0;
    align-items: center;
    padding: 30px 30px 0px 50px;
}

.yellow-background{
    width: 300px;
height: 300px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(237, 242, 105, 0.15);
padding: 20px;

}

.profile-3{
    width: 150px;
    height: 250px;
    flex-shrink: 0;
    align-items: center;
    padding: 30px 30px 0px 50px;
}

.line-1{
    color: #0556ac;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}

.line-2{
    color: #690909;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}

.line-3{
    color: #095f5d;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}

/*discount*/

.discount-section{

    padding: 30px 30px 10px 150px;
    border-radius: 8px;
    background: rgba(212, 165, 173, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discount-banner{
    width: 500px;
    


}

.discount{
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 20px;
margin-left: 200px;

    


}

.discount-description{
    display: flex;
width: 634px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 20px;
margin-top:30px;
margin-bottom: 30px;
margin-left: 200px;


   

}

.btn-2{

    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background:#E55473;
padding: 20px;
margin-left: 400px;



}

.discount-section .discount-pic{
    width: 500px;

}

/*Instagram*/

.socials{
    margin-top: 100px;
    margin-left: 300px;
    justify-content: center;
}

.instagram{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 300px;


}
.ig-1{
    width: 200px;
height: 250px;
flex-shrink: 0;
}

.ig-2{
    width: 200px;
height: 250px;
flex-shrink: 0;

}

.ig-3{
    width: 200px;
height: 250px;
flex-shrink: 0;
}

.ig-4{
    width: 200px;
height: 250px;
flex-shrink: 0;

}


/*Reviews*/

.review-section {
    width: 1300px;
    height: 600px;
   flex-shrink: 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(215, 230, 243);
  }
.review {
    margin-bottom: 20px;

}
    
  
.review img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
.review-flower {
    margin-bottom: 5px;
    font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
  }
  
.review p {
    font-style: italic;
    color: #555;
  }



/*email-bar*/


.email-banner{

  background-position: center;
  width: 1440px;
height: 449px;
flex-shrink: 0;

  padding: 10px;
  text-align: center;
  background-image: url("../Flower Asset/Rectangle 9.png");
  margin-top: 100px;


}

.submit{
    gap: 10px;
border-radius: 8px;
background:#E55473;


}

.deals{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 60px;
margin-top: 100px;
text-align: center;
}



/*footer*/

.footer{
   margin-top: 60px;
    padding: 30px 30px 10px 150px;
    border-radius: 8px;
    background-color: #272727;
    align-items: center;


}

.section-title{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.description{
    color: #f6ecee;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.copy{
    color: #c8bcbe;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}



